*.o
.deps
.dirstamp
/*.S
/*.a
/*.d
/*.plist
/*.swp
/*.tar.gz
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.*
/config/compile
/config/config.*
/config/depcomp
/config/install-sh
/config/missing
/config/test-driver
/configure
/cpplint.py
/gtest/src/*.o
/hiptext
/hiptext_test*
/src/pixel_parse.cc
/stamp-h1
/test-suite.log
